@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap'); /*Passion one, cursive*/

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap'); /*Sriracha, cursive*/

:root{
    --fonte-conteudo: 'Sriracha', cursive;
    --fonte-titulo: 'Passion one', cursive;
    --fonte-padrao: arial, helvetica, sans-serif;

    --cor01: white;
    --cor02: black;
}

*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: var(--cor02);
    color: var(--cor01);
    text-align: center;
    padding: 40px;
}

header > h1{
    font-family: var(--fonte-titulo);
    font-size: 4em;
}

header > p{
    font-family: verdana;
    padding-top: 10px;
}

header > p > a{
    color: var(--cor01);
    text-decoration: none;
    font-weight: bold;
}

main{
    font-family: var(--fonte-conteudo);
    
}

.um > p{
    font-size: 1.2em;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.dois{
    border: 5px solid black;
    font-size: 1.2em;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
}

